#map {
  height: 100vh;
  width: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#loadingState {
  align-items: center;
  justify-content: center;
  font-size: larger;
  width: 100vw;
  height: 100vh;
}

#farm-name {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 2.3rem;
  margin: 0;
  background-color: #17152e;
}

#key {
  color: white;
  position: absolute;
  bottom: 35px;
  left: 35px;
  padding: 20px;
  background-color: #e43254;
  font-size: 1.7rem;
  border-radius: 20px;
}

#contentTitle {
  font-size: 5vw;
  font-family: Arial, sans-serif; 
  font-weight: bold; 
  text-decoration: underline;
}

#contentBody {
  font-size: 3vw;
  font-family: 'Times New Roman', serif; 
}
